.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerMain {
    padding: 30px;
    box-shadow: 0px 1px 10px #979797;
}

#menu ul {
    list-style-type: none;  
}

#menu ul li a {
    margin-left: 30px;
}